.menu__movie{
    background-color: rgba(34, 34, 34, 0.952);
    height: 100px;
    position:sticky;
    top:0;
    z-index:10;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.link{
    text-decoration:none !important;
    color:white;
}
.text__field{
    color:white !important;
    border-radius: 7px;
    background-color: rgb(82, 76, 76);
    height:60px !important;
    width:80%;
    border:none;
    padding: 4px;
    font-size:18px;
}
.active{
    color: #999;
    /* transform:scale(1.1); */
    transition:.3s;
}





