.detail__container{
    position: absolute;
    top:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 200;
    margin: 30px 0;
}

.detail{
    max-width: 420px;
    max-height: 300px;
    box-shadow: -1px 1px 6px rgb(255, 110, 110);
    border:1px solid #ddd;
    margin: 10px;
    background-color: #eee;
    border-radius: 10px;
    padding: 0 8px;
}

.detail__title {

    text-align: center;
    font-size:22px;
    font-family: monospace;

}

.detailVotes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vote__gradient__votes{
    background-image: linear-gradient(to left, rgb(31, 31, 32),rgb(61, 61, 61));
    
}
.vote__gradient__popularity{
    background-image: linear-gradient(to left, rgb(28, 97, 6),rgba(23, 160, 53, 0.856));
    
}
.vote{
    text-align: center !important;
    width: 100px;
    display: flex;
    color:white;
    margin: 10px;
    font-size:14px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: arial;
    border-radius: 50%;
    height: 100px;
    animation:buble 1s linear;
    transition:1s;
}
@keyframes buble{
    10%{
        transform:scale(.8)
    }
    50%{
        transform:scale(1.2)
    }
    90%{
        transform:scale(0)
    }
}

