.container__banner__start{
    display: flex;
    /* justify-content: le; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.container__image{
    max-width: 600px;
    overflow-x: hidden;
    padding: 10px;
    height: 350px;
} 
.container__banner__start h1{
    width: 100%;
    border-bottom: 3px solid #eee;
    border-bottom-style: dashed;
    padding-bottom:15px;
    font-family: ubuntu;
    margin-top:30px;
    font-weight: 550;
    color: rgb(36, 138, 5);
} 
.container__image img{
    width:100%;
} 

Button{
    background-color:#eee !important;
    width:200px; 
    margin-top:80px !important;
    
}
Button *{
    text-decoration: none !important;

}