.popular__movie__skeleton{
    width: 80px;
    height: 80px;
    border: none;
    background-color: rgb(252, 252, 252);
    border-radius: 50%;
    margin:6px;
    animation: animateSkeleton 1.3s infinite ease-in;
    transition:1s;
}
@keyframes animateSkeleton{
    from{
        background-color: rgba(236, 233, 233, 0.795);
    }
    to{
        background-color: rgba(212, 209, 209, 0.795);
    }
}