.banner__movie{
    background-color: rgba(48, 46, 46, 0.986);
    height: 60px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.top__banner{
    position: absolute;
 
    width:100%;
    background-color: black;
    z-index: 200;
    /* margin-top: 40px; */
}

.banner__backdrop{
    width:100%;
    height: 250px;
    margin-top:-5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

}


.back{
    margin: 5px 4px !important;
    position:absolute !important;
    top:4px !important;
    left: 0px !important; 
    
    color:white !important;
}


.banner__elements *{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    line-height: 65px;
    text-align: center;
}


.banner__title{
    margin:0; 
    color: white;
    font-size:20px;
    font-weight: 500;
    font-family: monospace;
}

.backdrop__img{
    position: absolute;
    top:-1px; 
    filter:blur(3px);
    height: 350px;
    z-index: 0;
    width:inherit;
}
.aanimateToUp{
    animation: animatex .6s linear;
    transition:.4s;
}
@keyframes animatex{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}
.title__show{
    color:#222;
    font-size:20px;
    top: 100px;
    text-align: center;
    height: 55px;
    line-height: 58px;
    position: relative;
    top:35px;
    width: 100%;
    color:white;
    background-color: rgba(27, 27, 27, 0.842);
    font-family:monospace;
}
.banner__poster{
    width: 200px;
    height: 270px;
    position: relative;
    bottom: -210px;
    border-radius:4px;
    background-color: rgb(218, 200, 200);
}
.banner__poster img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}


