
html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
     
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate{
  animation: animateElement .5s linear; 
  transition: .5s;
}
@keyframes animateElement{
  from{
    opacity: 0;
    transform:translateY(-3px)
  }
  to{
    opacity: 1;
    transform:translateY(0)
  }
}
.animatesSkeleton{
  animation: animateSkeleton 1.3s infinite ease-in;
 
}
@keyframes animateSkeleton{
  from{
      background-color: rgb(236, 233, 233);
  }
  to{
      background-color: rgb(212, 209, 209);
  }
}