.banner__movie{
    background-color: rgba(48, 46, 46, 0.986);
    height: 60px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
 

}
.banner__title{
    margin:0; 
    color: white;
    font-size:28px;
    font-weight: 500;
    font-family: monospace;
}
.banner__elements *{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 65px;
    text-align: center;
}
.back{
    margin: 5px 4px !important;
    position:absolute !important;
    top:4px !important;
    left: 0px !important; 

    color:white !important;
}
 