.container__popular__movie{
    display:flex;
    margin: 10px 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 200px;
    
}

.popular__movie{
    cursor:pointer;
    width: 80px;
    margin: 5px 7px;
    background-color:#888;
    height: 80px;
    border-radius: 50%;
    transition: .4s;
}
.popular__movie:hover img{
    transition:.3s;
    opacity:.7;
    
}
.popular__movie img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


